@font-face {
    font-family: 'Vollkorn';
    src: url(../fonts/Vollkorn-Regular.ttf);
}
@font-face {
    font-family: 'Vollkorn Italic';
    src: url(../fonts/Vollkorn-Italic.ttf);
}
@font-face {
    font-family: 'Vollkorn Bold';
    src: url(../fonts/Vollkorn-Bold.ttf);
}
@font-face {
    font-family: 'Vollkorn Bold Italic';
    src: url(../fonts/Vollkorn-BoldItalic.ttf);
}